/* Stili generici */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: aliceblue;
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: left;
}

nav button {
    background-color: #ffffff;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 8px;
}

nav button:hover {
    background-color: #e0e0e0;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.block {
    width: 80%;
    padding: 20px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 8px;
    text-align: justify;
    margin-bottom: 20px;
}

.algorithm-block {
    position: relative;
}

.algorithm-block p {
    margin-top: 10px;
}

h1 {
    color: black;
    padding-left: 15px;
}

.chart {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}



#film-tooltip {
    position: fixed;
    display: none;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#film-tooltip img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

#film-tooltip #film-info {
    text-align: center;
    margin-top: 5px;
}
